*.log
*.fdb_latexmk
*.gz
*.fls
*.aux
*.models
*.model
*.rda
*.rds
*.RData
*.rdb
analysis/.Rhistory
analysis/supp_mat_cache/
analysis/supp_mat_files/
analysis_revised/2_bayes_multi_level/analysis_revised/*/*_cache/
analysis_revised/*/*_files/
analysis_revised/2_bayes_multi_level/supp_mat_files/*
manuscript/app_vs.aux
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.log
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.log
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.synctex.gz
analysis_revised/2_bayes_multi_level/.Rhistory
analysis_revised/1_comp_ver/.Rhistory
analysis_revised/2_bayes_multi_level/.Rhistory
analysis_revised/2_bayes_multi_level/.Rhistory
analysis_revised/3_pilot_analysis/.Rhistory
analysis_revised/3_pilot_analysis - check before data collection/3_pilot_analysis_cache*
analysis_revised/3_pilot_analysis - check before data collection/3_pilot_analysis_files*