*.log
*.fdb_latexmk
*.gz
*.fls
*.aux
*.model
*.rda
analysis/.Rhistory
analysis/supp_mat_cache/
analysis/supp_mat_files/
manuscript/app_vs.aux
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.log
manuscript/app_vs.aux
manuscript/app_vs.log
