*.log
*.fdb_latexmk
*.gz
*.fls
*.aux
*.models
*.model
*.rda
*.rds
*.RData
*.rdb
analysis/.Rhistory
analysis/supp_mat_cache/
analysis/supp_mat_files/
analysis_revised/2_bayes_multi_level/supp_mat_cache/*
analysis_revised/2_bayes_multi_level/supp_mat_files/*
manuscript/app_vs.aux
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.log
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.log
manuscript/app_vs.aux
manuscript/app_vs.log
manuscript/app_vs.synctex.gz
analysis_revised/2_bayes_multi_level/.Rhistory
